GITHUB_TOKEN=github_pat_11AYdafasd2323sdfaCVSDFsadfWEFWDFSFSD_sdfasf2rewrqweSDFsf23sSfFDSFSDfd
GITHUB_USERNAME=your-user-name
GITHUB_REPO_NAME=your-github-repo-name
#Plain text: aungminkhant
ADMIN_PASSWORD_HASH='\$7z\$30\$absSDFfdXngJE5ASDsdfsaSDFSDFSFSfsdIFRn.'
SESSION_SECRET='psdfsJsdfQ23sdf4dfsdOdAJE6cdsfasSDFSDFKs='
ADMIN_ID=whatever_you_like

