{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["cn", "clsx", "twMerge"]
}
